<app-header titulo="Cards"></app-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorend iaoshdas dasoifhdjaosdhf asiodf kñjashdfñsdf jokñsdhf ñsdfh iñajshdfasd Lorend iaoshdas dasoifhdjaosdhf asiodf kñjashdfñsdf jokñsdhf ñsdfh iñajshdfasdLorend iaoshdas dasoifhdjaosdhf asiodf kñjashdfñsdf jokñsdhf ñsdfh iñajshdfasdLorend iaoshdas dasoifhdjaosdhf asiodf kñjashdfñsdf jokñsdhf ñsdfh iñajshdfasd
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnY4RGhyJp5UX2YQVJ764IVd8BNQfAabJztQ&usqp=CAU">
    <ion-card-content>
      Lorend iaoshdas dasoifhdjaosdhf asiodf kñjashdfñsdf jokñsdhf ñsdfh iñajshdfasd Lorend
    </ion-card-content>
  </ion-card>

</ion-content>